<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Lotto: sales</title>
    <link rel="stylesheet" href="../css/bootstrap-solarized-dark.css">
    <script src='../js/d3.v5.js'></script>
    <style>
    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 2px;
    }
    .sat-line {
      fill: none;
      stroke: orange;
      stroke-width: 2px;
    }
    </style>
  </head>
  <body class='container'>
    <script src='../js/graph-sales.js'></script>
  </body>
</html>
